/* panel pane */
.view-fcrl-topics-featured {
  margin: 2em 0;
}
.view-fcrl-topics-featured .views-field-field-image img {
  max-width: 110px;
  margin-bottom: 8px;
}
.view-fcrl-topics-featured .topic-icon,
.view-fcrl-topics-featured .views-field {
  display: block;
  margin: 5px 0;
  text-align: center;
  width: 100%;
}
.view-fcrl-topics-featured a:hover {
  text-decoration: none;
}
.view-fcrl-topics-featured .topic-icon a::before {
  font-size: 7em;
  line-height: 1em;
}
#div-field-topic-icon-color-und-0--rgb {
  margin-bottom: 3em;
}
/* dataset view */
.view-fcrl-datasets .field-name-field-topic {
  margin: 8px 0;
}
.field-name-field-topic .field-name-field-topic-icon {
  margin: 0 .25em 0 0;
}
#taxonomy-form-term .field-name-field-topic-icon {
  display: block;
}
.field-name-field-topic-icon,
.field-name-field-topic .name,
.view-fcrl-datasets .field-name-field-topic-icon,
.view-fcrl-datasets .field-name-field-topic .name {
  display: inline-block;
}
.field-name-field-topic-icon span::before,
.view-fcrl-datasets .field-name-field-topic-icon span::before {
  font-size: 1.5em;
  vertical-align: bottom;
  padding-right: 2px;
}
.field-name-field-topic .field-item {
  margin-bottom: 5px;
}
.field-name-field-topic .field-type-image {
  display: inline-block;
  margin-right: 4px;
}
